<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<meta name="contextPath"
	  th:value="${#httpServletRequest.getContextPath()}">
<!--/* jsp = ${pageContext.request.contextPath} */-->
<title>list.html</title>
  <style>
    .container-custom {
        width: 80%;
        max-width: 80%;
    }
</style>
</head>
<body>
	<!--/* 	
		<h3>Thymeleaf Test</h3>
		<th:block th:each="num : ${#numbers.sequence(1,5)}">
			<p th:text="${num}"></p>
		</th:block>
		<hr>
		<p> [[ ${'사원번호 : ' + empList[0].empid}]]</p>
	   <p> 사원이름 : [[${empList[0].empname}]]</p>
	   <p> [[ | 사원이름 : ${empList[0].empname} | ]]</p>
	   <p> [[${empList[0].mgr} ]]</p>
	*/-->
<div class="container container-custom">
	<h3>전체 사원 조회</h3> 
	
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th>사번</th>
				<th>이름</th>
				<th>부서</th>
				<th>매니저ID</th>
				<th>급여</th>
				<th>입사일</th>	
				<th>삭제</th>		
			</tr>
		</thead>
		<tbody>
			<th:block th:each="emp : ${empList}">
				<tr >
					<td  th:text="${emp.empid}"></td>
					<td  th:text="${emp.empname}"></td>
					<td  th:text="${emp.deptid}"></td>
					<td  th:text="${emp.mgr}"></td>
					<td  th:text="${#numbers.formatInteger(emp.sal, 3, 'COMMA')+'원'}"></td>
					<!--/* <td  th:text="${#calendars.format(emp.hiredate, 'yyyy년MM월dd일')}"></td> */-->
					<td  th:text="${#dates.format(emp.hiredate, 'yyyy년MM월dd일')}"></td>
					<td><button class="btn btn-danger">삭제</button></td>
				</tr>
			</th:block>		
		</tbody>
	</table>
	</div>
	<script>
	const context = $('meta[name="contextPath"]').attr('value');
	$('tbody > tr').on('click', function(event){
			if(event.target.tagName=='BUTTON') return;
			let eId = $(event.currentTarget).children().first().text();
			let url = context + '/empInfo?empid='+eId;
			console.log('url : ',url);
			location.href = url;
		});
	//th:onclick="|location.href='@{/empInfo(empid=${emp.empid})}'|"
	</script>
</body>
</html>