<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>boardUpdate</title>
</head>
<body>
<div class="container container-custom">
    <form name="updateForm" th:object="${board}">
        <h3>게시글 수정</h3>
        <table class="table table-bordered">
            <thead>
				<tr>
                    <th>번호</th>
                    <td>
                        <input type="text" 
                               class="form-control"
                               th:field="*{boardNo}"
							   readonly>
                    </td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td>
                        <input type="text" 
                               class="form-control"
                               th:field="*{boardWriter}">
                    </td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td colspan="3">
                        <input type="text"
                               class="form-control" 
                               th:field="*{boardTitle}">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>내용</th>
                    <td style="height: 200px;" colspan="3">
                        <textarea class="form-control" 
								  th:field="*{boardContent}" 
                                  style="height: 190px"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td colspan="3">
                        <input type="text" 
                               class="form-control" 
                               th:field="*{image}">
                    </td>
                </tr>
                <tr>
                    <th>작성일자</th>
                    <td colspan="3">
                        <input type="date" 
                               class="form-control" 
                               th:field="*{regdate}"
							   readonly>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button type="button" id="updateBtn" class="btn btn-primary">수정</button>
        </div>
    </form>
</div>

</body>
<script>
		$('#updateBtn').on('click', boardUpdateAjax);
		
		function boardUpdateAjax(event){
			//1) 보낼 데이터 확인
			let info = getBoardInfo();
			
			//2) AJAX
			$.ajax('boardUpdate',{
				type:'post',
				contentType : 'application/json',
				data : JSON.stringify(info)
			})
			.done(data => {
				if(data.result){
					alert('정상적으로 수정되었습니다.');
					location.href="/boardInfo?boardNo="+info.boardNo;
				}else{
					alert('수정되지 않았습니다.\n데이터를 확인해주세요.');
				}
			})
			.fail(err => console.log(err));			
		};
	
		function getBoardInfo(){
			let formData= $('form[name="updateForm"]').serializeArray();
			console.log('1) serializeArray', formData);
			
			let objData = {};
			$.each(formData, (idx, input) => {
				console.log('2) input', idx, input);
				objData[input.name] = input.value;
			});
			
			console.log('3) objData', objData);
			return objData;
		};
	</script>
</html>
