<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<title>게시판</title>
</head>
<body>
<div class="container container-custom">
	<h3>게시판 목록</h3>
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th> <!--yy년MM월dd일-->
			</tr>
		</thead>

		<tbody>
			<th:block th:each="brd : ${boards}">
				<tr th:onclick="|location.href='@{/boardInfo(boardNo=${brd.boardNo})}'|">
					<td th:text="${brd.boardNo}"></td> 
					<td th:text="${brd.boardTitle}"></td> 
					<td th:text="${brd.boardWriter}"></td>
					<td th:text="${#dates.format(brd.regdate, 'yy년MM월dd일')}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>
</body>
</html>