<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>boardInsert</title>
</head>
<body>
<div class="container container-custom">
    <form id="insertForm" th:action="@{/boardInsert}" method="post">
        <h3>게시글 등록</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>작성자</th>
                    <td>
                        <input type="text" 
                               class="form-control"
                               name="boardWriter">
                    </td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td colspan="3">
                        <input type="text"
                               class="form-control" 
                               name="boardTitle">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>내용</th>
                    <td style="height: 200px;" colspan="3">
                        <textarea class="form-control" 
                                  name="boardContent" 
                                  style="height: 190px"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>첨부파일</th>
                    <td colspan="3">
                        <input type="text" 
                               class="form-control" 
                               name="image">
                    </td>
                </tr>
                <tr>
                    <th>작성일자</th>
                    <td colspan="3">
                        <input type="text" 
                               class="form-control" 
                               name="regdate"
                               placeholder="yyyy/MM/dd">
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">등록</button>
        </div>
    </form>
</div>
</body>
<script>
$(document).ready(function() {
    $('#insertForm').on('submit', boardInsertHandler);
});

function boardInsertHandler(event) {
    event.preventDefault();

    let bWriter = $('input[name="boardWriter"]');
    if (bWriter.val() === '') {
        swal({
            title: "입력오류!",
            text: "작성자는 필수 값입니다.",
            icon: "warning",
        });
        bWriter.focus();
        return;
    }

    let bTitle = $('input[name="boardTitle"]');
    if (bTitle.val() === '') {
        swal({
            title: "입력오류!",
            text: "글제목은 필수 값입니다.",
            icon: "warning",
        });
        bTitle.focus();
        return;
    }

    $('#insertForm').off('submit').submit();
}
</script>
</html>
