<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<title>게시판</title>
</head>
<body>
<div class="container container-custom">
	<h3>도서 조회/수정</h3>
	<table class="table table-bordered">
		<thead class="table-dark">
			<tr align="center">
				<th>도서번호</th>
				<th>도서명</th>
				<th>표지</th>
				<th>출판일자</th> 
				<th>금액</th> 
				<th>출판사</th> 
				<th>도서소개</th> 
			</tr>
		</thead>

		<tbody>
			<th:block th:each="book : ${books}">
				<tr>
					<td th:text="${book.bookNo}" align="center"></td> 
					<td th:text="${book.bookName}"></td> 
					<td align="center">
						<img height="30px" width="30px" 
										  th:src="@{/images/{fileName}(fileName=${book.bookCoverimg})}">
					</td>
					<td th:text="${#dates.format(book.bookDate, 'yyyy/MM/dd')}" align="center"></td>
					<td th:text="${#numbers.formatInteger(book.bookPrice, 3, 'COMMA')}" align="right"></td>
					<td th:text="${book.bookPublisher}"></td>
					<td th:text="${book.bookInfo}"></td>
				</tr>
			</th:block>
		</tbody>
	</table>
</div>
</body>
</html>